table {
    border-collapse: collapse;
    width: %100;    
}

table, td, th {
    font-family: 'Courier';
    text-align: center;
    padding: 8px;
    border: 1px solid #9e9e9e;
}

tr:nth-child(even) {
    background-color: #bdbdbd;
}